name: DevSecOps Pipeline For Python Application

on:
  push:
    branches:
      - main

jobs:
  # 1st checkout
  checkout:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Source Code
        uses: actions/checkout@v4
    
  python-build:
    runs-on: ubuntu-latest
    needs: checkout
    steps:
      - uses: actions/checkout@v4

      - name: SetUp Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'
      
      - name: Install Python Depedencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

  docker-build:
    runs-on: ubuntu-latest
    needs: python-build
    steps:
      - uses: actions/checkout@v4
    
      - name: Docker Login 
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}

      - name: Build Docker Image
        run: |
          docker build -t ${{ secrets.DOCKERHUB_USERNAME}}/py-app:v1 .

  docker-push:
    runs-on: ubuntu-latest
    needs: python-build
    steps:
      - name: Docker Login
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}
      
      - name: Push Docker Image
        run: |
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/py-app:v1
        
  Kubernetes:
    runs-on: ubuntu-latest
    needs: docker-push
    steps:
      - uses: actions/checkout@v4

      - name: SetUp KubeConfig
        run: |
          mkdir -p ~/.kube
          echo "${{ secrets.KUBE_CONFIG }}" | base64 -d > ~/.kube/config
      
      - name: Deploy To Kubernetes
        run: |
          kubectl apply -f K8s/
