name: DevSecOps Pipeline For Python Application

on:
  push:
    branches:
      - main

jobs:
  # 1st checkout
  checkout:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Source Code
        uses: actions/checkout@v4
    
  # 2nd python setup and dependency install
  python-build:
    runs-on: ubuntu-latest
    needs: checkout
    steps:
      - uses: actions/checkout@v4

      - name: SetUp Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'
      
      - name: Install Python Depedencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
    
  # 3rd sonarqube sast scan
  sonarqube:
    runs-on: ubuntu-latest
    needs: python-build
    steps:
      - uses: actions/checkout@v4

      - name: SonarQube Scan
        uses: SonarSource/sonarcloud-github-action@master
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        with:
          args: >
            -Dsonar.projectKey=${{ secrets.SONAR_PROJECT_KEY }}
            -Dsonar.organization=${{ secrets.SONAR_ORGANIZATION }}
            -Dsonar.sources=.
    
  # 4th OWASP Dependency Check
  dependency-check:
    runs-on: ubuntu-latest
    needs: sonarqube
    steps:
      - uses: actions/checkout@v4

      - name: OWASP Dependency Check
        uses: dependency-check/Dependency-Check_Action@main
        with:
          project: "python-app"
          path: "."
          format: "HTML"
        continue-on-error: true

  # 5th Docker
  docker-build:
    runs-on: ubuntu-latest
    needs: dependency-check
    steps:
      - uses: actions/checkout@v4
    
      - name: Docker Login 
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}

      - name: Build Docker Image
        run: |
          docker build -t ${{ secrets.DOCKERHUB_USERNAME}}/py-app:v1 .

  # 6th Trivy Image Scanning
  trivy-scan:
    runs-on: ubuntu-latest
    needs: docker-build
    steps:
      - name: Trivy Image Scan
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: ${{ secrets.DOCKERHUB_USERNAME }}/py-app:v1
          severity: CRITICAL,HIGH
          exit-code: '1'

  docker-push:
    runs-on: ubuntu-latest
    needs: trivy-scan
    steps:
      - name: Docker Login
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}
      
      - name: Push Docker Image
        run: |
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/py-app:v1
        
  Kubernetes:
    runs-on: ubuntu-latest
    needs: docker-push
    steps:
      - uses: actions/checkout@v4

      - name: SetUp KubeConfig
        run: |
          mkdir -p ~/.kube
          echo "${{ secrets.KUBE_CONFIG }}" | base64 -d > ~/.kube/config
      
      - name: Deploy To Kubernetes
        run: |
          kubectl apply -f K8s/